@font-face {
  font-family: 'fontello';
  src: url('./css/font/fontello.eot?67927556');
  src: url('./css/font/fontello.eot?67927556#iefix') format('embedded-opentype'),
       url('./css/font/fontello.woff2?67927556') format('woff2'),
       url('./css/font/fontello.woff?67927556') format('woff'),
       url('./css/font/fontello.ttf?67927556') format('truetype'),
       url('./css/font/fontello.svg?67927556#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?67927556#fontello') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-user:before { content: '\e800'; }
.icon-facebook:before { content: '\e801'; }
.icon-facebook-circled:before { content: '\e802'; }
.icon-ok:before { content: '\e803'; }
.icon-cancel:before { content: '\e804'; }
.icon-home:before { content: '\e805'; }
.icon-lock:before { content: '\e806'; }
.icon-phone:before { content: '\e807'; }
.icon-basket:before { content: '\e808'; }
.icon-left-big:before { content: '\e809'; }
.icon-right-big:before { content: '\e80a'; }
.icon-up-big:before { content: '\e80b'; }
.icon-down-big:before { content: '\e80c'; }
.icon-credit-card:before { content: '\e80d'; }
.icon-spin4:before { content: '\e834'; }
.icon-comment-empty:before { content: '\f0e5'; }
.icon-angle-right:before { content: '\f105'; }
.icon-circle-empty:before { content: '\f10c'; }
.icon-quote-left:before { content: '\f10d'; }
.icon-quote-right:before { content: '\f10e'; }
.icon-circle:before { content: '\f111'; }
.icon-euro:before { content: '\f153'; }
.icon-dollar:before { content: '\f155'; }
.icon-rouble:before { content: '\f158'; }
.icon-instagram:before { content: '\f16d'; }
.icon-vkontakte-1:before { content: '\f189'; }
.icon-paper-plane:before { content: '\f1d8'; }
.icon-paper-plane-empty:before { content: '\f1d9'; }
.icon-share:before { content: '\f1e0'; }
.icon-whatsapp:before { content: '\f232'; }
.icon-shopping-basket:before { content: '\f291'; }
.icon-telegram:before { content: '\f2c6'; }