/*
Theme Name: MetaLife
Description: Metaphysics of Life Theme
Author: Katrina Dowl
Author URI: ekaterinadolgova23@yandex.ru
Text Domain: metalife
*/

$white: #ececec;
$black: #3b3b3b;
$red: #9e463b;
$font: 'Neucha', cursive;

@import "fontello";

* { box-sizing: border-box; }
html { font-size: 18px; }
body {
	background-image: url(./images/bg.png);
	color: $black;
	font-family: $font;
	line-height: 1.33;
	margin: 0;
}
.grid {
	display: table;
	margin: 0 auto;
	padding: 0 1rem;
	width: 100%;
}
h1, h2, h3, h4, h5, h6 {
	font-family: $font;
	font-weight: 400;
	line-height: 1.125;
}
img {
	max-width: 100%;

	&.aligncenter {
		margin: 0 auto;
		display: block;
	}
}
a {
	color: $red;
	text-decoration: none;

	&:hover { border-bottom: 2px solid; }
}
.hide { display: none !important; }
#mainOverlay,
#mainMenu,
#burger span,
.home article a { transition: all 0.5s ease; }

/************************************************ HEADER ********************************************/

header {
	margin-bottom: 0;
	position: relative;
}
.mainLogoWrap {
	position: relative;
	display: table;
	margin: 0 auto;

	&:hover { border: 0; }
}
.mainlogo {
	display: table;
	width: 30%;
	margin: 4.5rem auto 0;
	opacity: 0.85;
}
.mainlogotext {
	display: table;
	margin: 0 auto;
	opacity: 0.85;
	margin-top: -0.5;
}
#burger {
	width: 3rem;
	height: 3rem;
	position: absolute;
	top: 1rem;
	right: 1rem;
	z-index: 99999;

	&.close {
		position: fixed;

		span {
			&:nth-child(1) { transform: rotate(45deg) translate(0.75rem,0.75rem); }
			&:nth-child(2) { transform: rotate(-45deg); opacity: 0; }
			&:nth-child(3) { transform: rotate(-225deg) translate(-0.75rem, 0.75rem); }
		}
	}

	span {
		display: block;
		width: 3rem;
		height: 1rem;
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;

		&:nth-child(1) { background-image: url(./images/burger1.png); }
		&:nth-child(2) { background-image: url(./images/burger2.png); }
		&:nth-child(3) { background-image: url(./images/burger3.png); }
	}
}
#mainOverlay {
	display: block;
	position: fixed;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 999;
	background-color: #fff;
	background-image: url(./images/bg.png);
	opacity: 0;
	pointer-events: none;

	&.active {
		opacity: 1;
		pointer-events: default;
	}
}
#mainMenu {
	display: table;
	position: fixed;
	top: 0;
	left: 0;
	width: calc(100% - 5rem);
	transform: translateX(calc(-100% - 5rem));
	height: 100%;
	padding: 1rem 0 2rem;
	z-index: 999999;
	background-color: $black;

	&.active { transform: translateX(0); }

	.wrap { display: table-cell; }
	a {
		text-decoration: none;
		font-size: 1.5rem;
		display: block;
		text-align: center;
		padding: 0.5em;
		color: $white;

		&:hover,
		&.active {
			color: $red;
			border: 0;
		}
	}
	.mainlogo { margin-top: 0; }
}
#langbutton {
	display: table;
	width: 3rem;
	height: 1.5rem;
	top: 0;
	left: 0;

	a {
		text-decoration: none;
		color: $black;
		padding: 0.3rem;
		font-size: 11px;
		top: 0;

		&:hover { border: 0; }
	}
}
.menu1024 {
	display: none;

	a {
		position: relative;
		border: 0;

		&.active:after,
		&:hover:after {
			display: table;
			content: "";
			position: absolute;
			width: 3rem;
			height: 3rem;
			background-size: contain;
			background-image: url(./images/menu-venzel.png);
			background-repeat: no-repeat;
			left: 36%;
			bottom: -2.5rem;
		}
	}
}
.thumb {
	display: table;
	margin: 0 auto;
}

/************************************************ MAIN ********************************************/

.home article a {
	display: table;
	color: $black;
	text-decoration: none;
	border: 0;

	&:hover { border: 0; }

	a:hover { color: $red; }
	.thumb {
		display: table;
		margin: 3rem auto 0;
	}
}
h2 {
	text-align: center;
	margin: 0 auto;
}
.mainh1 {
	margin: 4em auto 2em;

	> * {
		text-align: center;
		font-size: 1em;
		color: $red;

		&:after {
			display: table;
			content: "";
			margin: 0 auto;
			text-align: center;
			height: 2.5rem;
			width: 12rem;
			vertical-align: text-bottom;
			background-image: url(./images/venzel-red.png);
			background-size: contain;
			background-repeat: no-repeat;
			background-position: 50% 0%;
		}
	}
}

/************************************************ FOOTER ********************************************/

footer {
	text-align: center;
	background-color: $black;
	padding: 3rem 0;
	color: $white;

	span {
		font-size: 1rem;
		display: inline;
	}
	.social {
		padding-top: 0.5em;
		font-size: 1.5rem;

		a {
			color: $white;
			text-decoration: none;

			&:hover {
				border: 0;
				color: $red;
			}
		}
	}
}

/********************************************** single PAGE *****************************************/
.single {
	header { margin-bottom: 0; }

	.headerLogo {
		margin: 0;
		padding: 1rem 0;

		.mainlogo {
			left: 1rem;
			margin: 0;
			width: 3rem;
			height: 3rem;
			display: inline-table;
			vertical-align: middle;
		}
		.mainlogotext {
			display: table;
			margin: 0 0;
			width: 6rem;
			display: inline-table;
			margin: 0 0.5rem;
			vertical-align: middle;
		}
	}
	h1 {
		text-align: center;
		margin: 0 0 2rem;
	}
	h2 {
		margin: 0 0 1em;
		color: $red;
		position: relative;

		&:after {
			display: block;
			content: "";
			position: absolute;
			bottom: -0.75rem;
			height: 1rem;
			width: 100%;
			background-image: url(./images/venzel-red.png);
			background-size: contain;
			background-repeat: no-repeat;
			background-position: 50% 0;
		}
	}
	* + & h2 { margin-top: 1em; }
	h3 {
		margin: 0.5em 0;
		color: $red;
	}
}
.inner a {
	color: $red !important;
	text-decoration: none;

	&:hover { border-bottom: 2px solid; }
}
blockquote {
	position: relative;
	text-align: center;
	color: $red;
	font-size: 1.25rem;
	margin: 3rem 1rem;
	background-size: contain;
	background-repeat: no-repeat;

	&::before,
	&::after {
		display: block;
		position: absolute;
		content: "";
		height: 1rem;
		width:  1rem;
		margin: 0 0.3rem 0 0;
		vertical-align: text-top;
		background-image: url(./images/blockquote1.png);
		background-repeat: no-repeat;
	}
	&:before { top: -1em; left: 0; }
	&:after { bottom: -1em; right: 0; }

	a { border-bottom: 2px solid; }
}
ul li {
	list-style-image: url(./images/elementul.png);
	margin-bottom: 0.25em;
}
ol.china { list-style-type: cjk-ideographic; }
table {
	margin: 3rem auto;
	border-width: 0;
	text-align: center;
	width: 100%;
	border-collapse: collapse;
}
thead tr {
	border-bottom: 2px solid;
	font-weight: bold;
	color: $red;
}
tr { border-bottom: 1px solid $red; }
td, th { padding: 0.5em; }

/************************************************ MEDIA ********************************************/

@media screen and (min-width: 35rem) {

body { font-size: 22px; }

} /* media 35rem - 560px */

@media screen and (min-width: 40rem) {

#mainmenu .mainlogo {
	width: 3rem;
}
.single .headerLogo .mainlogo { width: 3rem; }
.single .headerLogo .mainlogotext { width: 10rem; }
#mainMenu .wrap { vertical-align: middle; }
.home article {
	display: inline-table;
	width: 50%;
	padding: 0 1.5rem;

	.thumb { padding: 0 1.5rem; }
}
.single h1 { font-size: 3rem; }
h2 { font-size: 2rem; }
h3,
blockquote { font-size: 1.5rem; }
footer, footer span { font-size: 1.25rem; }
footer .social { font-size: 3rem; }

} /* media 40rem - 640px */


@media screen and (min-width: 48rem) {

body { font-size: 26px; }

} /* media 48rem - 768px */


@media screen and (min-width: 64rem) { // 1024 px

.grid {
	display: table;
	margin: 0 auto;
	width: 56rem;
}
nav a:hover { border-bottom: 1px solid; }
.home {
	.menu1024 {
		display: table;
		text-align: center;
		margin: 0 auto;

		a {
			text-decoration: none;
			display: inline-table;
			text-align: center;
		}
	}
	.menucell {
		height: 2rem;
		margin: 2rem 3rem 0;
	}
	article {
		display: inline-table;
		width: 33.33%;
	}
}
.mainlogotext {
	width: 18rem;
	padding: auto auto 1.5rem auto;
}
footer .social { font-size: 1.5rem; }

} /* 60rem*/

@media screen and (min-width: 71rem) {

.grid {
	display: table;
	margin: 0 auto;
	padding: 0 3rem;
	width: 71rem;
}

} /* 71rem */